@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "react-bootstrap-typeahead/css/Typeahead.css";
* {
  max-width: 100%;
  transition: all 200ms ease;
}



.jumbotron {
  max-width: 90vw;
  background-color: #343A40;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-bottom: 1rem;
}
.title {
  position: absolute;
  left: 100px;
  top: 15%;
  font-size: 36px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text {
  position: absolute;
  left: 100px;
  top: 25%;
  width: 350px;
  font-size: 20px;
}

.img {
  top: -5px;
  width: 100%;
}

.flow {
  position: fixed;
  top: 20%;
  left: 5%;
}

.link1 {
  font-size: large;
  font-weight: 800;
}

.reg {
  font-weight: 600;
}

.card {
  width: 300px;
  max-width: 70vw;
  color: white;
  background-color: #343A40;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.search-bar-item {
  height: 2rem !important;
}
.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 2rem;
}

.data-table{
  width: 820px;
  max-width: 90vw;
  margin-bottom: 1rem;
}
.data-table-factors{
  width: 100%;
 
  margin-bottom: 1rem;
}